.login_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 25%;


}

input[type=text],input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.input_container{
    padding: 0 16px;
    width: 100%;
    display: inline-block;
}

button{
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 100%;

}

button:hover{
    opacity: 0.8;
}

.img_container{
    text-align: center;
    margin: 24px 0px 12px 0px;
    display: inline-block;


}
#logo{
    padding: 0 16px;
    width: 100%;
    display: block;

}
p{
    margin: 1px 0;
    font-family: Arial;
}

